* {
	margin: 0;
	padding: 0;
	hyphens: never;
}

body {
	margin: 1in;
	font-family: fixed;
	font-size: 120%;
	font-variant-ligatures: none;
	background-color: white;
	color: black;
	padding: 2ex;
}

h1 {
	display: none;
}

div, main {
	margin-bottom: 0.5in;
}

main p {
	max-width: 55em;
	margin-bottom: 2.5ex;
}

#signature-name {
	margin-top: 1in;
	padding-top: 0.5ex;
	padding-right: auto;
	width: 2in;
}

#signature-name p {
	overflow: visible;
	white-space: nowrap;
}
